
.header {
  display: flex;
  align-items: center;
  width: 1052px;
  margin: 92px 24px 96px 24px;
}
.nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.01em;
}
.header__nav-list {
  display: flex;
  margin: 0 40px 0 26px;
  list-style: circle;
}
.nav__list .nav__list-item:first-child {
  list-style: none;
}
.header__nav-list-item:nth-child(2n) {
  margin: 0 31px;
}
.nav__list-link {
  border-bottom: solid 1px black;
  text-decoration: none;
}
.nav__list-item:first-child .nav__list-link:first-child {
  border-bottom: none;
}
.header__logo-image {
  width: 148px;
  height: 105px;
  margin: 0 181px 0 0;
}
.company-info {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
  list-style: none;
}
.company-info__link {
  border-bottom: solid 1px black;
  text-decoration: none;
}
.company-info__address {
  max-width: 237px;
  font-style: normal;
}
.cover {
  position: relative;
  z-index: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 165px 0px 0 0px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.cover__title-align-start {
  margin-left: 50px;
}
.cover__title-align-center {
  align-self: center;
  margin: 12px 0 9px 0px;

}
.cover__title-align-end {
  align-self: end;
  margin-right: 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.6em;
}
.cover__title-spacing-standart {
  letter-spacing: 0.6em;
}
.cover__letter-spacing-extended{
  letter-spacing: 0.30em;
}
.cover__letter-spacing-none{
  letter-spacing:0;
}
.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 136px 0 0px 0;
  padding: 0 0 51px 0;
  color: white;
}
.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.8em;
}
.bet-button { 
  width: 256px;
  margin: 0 50px 0px 79px;
  border: solid 1px white;
  padding: 0;
  font-family: Raleway, sans-serif;
  background: none;
  cursor: pointer;
}
.bet-button__text {
  display: block;
  margin: 11px 0px 11px -2px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  text-transform: uppercase;
}
.lots {
  width: 1052px;
  margin: 179px 24px 180px 24px;
}
.lots__title {
  margin:0px 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}
.cards-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 32px 0;
  list-style: none;
}
.cards-list:nth-child(2n) {
  gap: 25px;
}
.card {
  position: relative; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 334px;
  min-height: 563px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card-film {
  background-image: url(../images/card-lot-01.jpg);
}
.card-book {
  background-image: url(../images/card-lot-02.jpg);
}
.card-picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card__title {
  position: relative;
  z-index: 1;
  margin: 51px 40px 0 40px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline;
  text-decoration-thickness:1px;
  text-underline-offset:3px;
  text-transform: uppercase;
}
.card__text {
  z-index: 1;
  margin: 0 40px 48px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.lots__more {
  margin:0px 0 0 40px;
  border-bottom: solid 1px black;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
  text-decoration: none;
}
.about {
  display: flex;
  width: 1052px;
  margin: 0 24px 180px 24px;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 72px 0 47px;
  border-radius:50%;
  background-color: black;
}
.about__logo-image {
  width: 141px;
  height: 112px;
}
.about__title {
  margin: 101px 0 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-align: left;
  text-transform: uppercase;
}
.about__text {
  max-width: 693px;
  margin: 0 24px 0 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.about__text-spacing{
  letter-spacing: 0.01em;
}
.about__text-indent-standart{
  letter-spacing: 0.02em;
}
.about__text-no-indent{
  letter-spacing: 0;
}
.about__text-indent-negative{
  letter-spacing: -0.01em;
}
.about__text-indent-extended{
  letter-spacing: 0.03em;
}
.about__text-word-indent{
  letter-spacing: 0.04em;
}
.about__text:nth-child(2n){
   margin: 24px 0 ;
}
.about__text:last-child {
  margin: 24px 0 0 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 50px 88px 50px;
}
.footer__nav {
  text-align: center;
}
.footer__nav-list {
  list-style: none;
}
.social {
  display: flex;
  list-style: none;
}
.social__item:nth-child(2n) {
  margin: 0 48px;
}
.social__item {
  width: 48px;
  height: 48px;
}